  <mat-toolbar color="primary" style="padding: 10px 50px">
    <div class="flex justify-start items-center h-20 bg-[#3F76B5] p-6">
      <button
      *ngIf="isLoggedIn()"
      class="flex items-center mr-2"
      aria-label="icon-button with menu icon"
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="text-white">Library Online</a>
    </div>
    <span class="example-spacer px-2"></span>

    @if(isLoggedIn()){
    <div *ngIf="authService.getUserDetail() as userDetail">
      <div class="flex gap-1 items-center">
        <div class="text-white hidden md:flex flex-col mt-2 w-auto text-end">
          <h1 class="p-0 m-0 font-medium text-zinc-100">
            {{ userDetail?.userName }}
          </h1>
          <p class="p-0 m-0 font-medium text-xs text-zinc-200">
            {{ userDetail?.roles }}
          </p>
        </div>
        <a
          [matMenuTriggerFor]="menu"
          class="flex gap-2 cursor-pointer items-center"
        >
          <div
            class="bg-[#3F76B5] text-white font-bold shadow-md rounded-full w-8 h-8 gap-5 flex justify-center items-center"
          >
            {{ userDetail!.userName[0].toUpperCase() }}
          </div>
        </a>
        <mat-menu #menu="matMenu" class="dropdown">
          <button mat-menu-item [routerLink]="['profile', 1]">
            <mat-icon>account_circle</mat-icon>
            <span>Ver Perfil</span>
          </button>          
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </div>
    </div>
    } @else {
    <div>
      <div class="flex gap-0 md:gap-2">
        <a class="bg-[#3F76B5] text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-[#3F76B5] dark:hover:bg-[#4785CC] dark:focus:ring-blue-800" routerLink="/login">Login</a>
        <a class="bg-[#3F76B5] text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-[#3F76B5] dark:hover:bg-[#4785CC] dark:focus:ring-blue-800" routerLink="/register">Register</a>
      </div>
    </div>
    }
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="side" role="navigation" class="bg-sidenav">
      <img mat-card-image class="w-64" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-nav-list>   
          <mat-list-item>
            <mat-icon matListItemIcon class="listItem">home</mat-icon>
            <div matListItemTitle  [classList]="['text-zinc-100']">Libros</div>
          </mat-list-item>
        <mat-divider />
        <mat-list-item>
          <mat-icon matListItemIcon class="listItem">home</mat-icon>
          <div matListItemTitle [classList]="['text-zinc-100']">Autores</div>
        </mat-list-item>
        <mat-divider />
        <mat-list-item>
          <mat-icon matListItemIcon class="listItem">home</mat-icon>
          <div matListItemTitle [classList]="['text-zinc-100']">Categorias</div>
        </mat-list-item>
        <mat-divider />
        <div *ngIf="authService.getUserDetail() as userDetail">
          <div class="text-xl p-5 font-bold text-white">Administrador</div>
          <div *ngIf="userDetail?.roles.includes('Admin')">
            <mat-list-item [routerLink]="['/categorias']">
              <mat-icon matListItemIcon class="listItem">category</mat-icon>
              <div matListItemTitle [classList]="['text-zinc-100']">Registrar Categorias</div>
            </mat-list-item>
            <mat-divider />
            <mat-list-item [routerLink]="['/autores']">
              <mat-icon matListItemIcon class="listItem">group</mat-icon>
              <div matListItemTitle [classList]="['text-zinc-100']">Registrar Autores</div>
            </mat-list-item>
            <mat-divider />
            <mat-list-item [routerLink]="['/libros']">
              <mat-icon matListItemIcon class="listItem">menu_book</mat-icon>
              <div matListItemTitle [classList]="['text-zinc-100']">Registrar Libros</div>
            </mat-list-item>
            <mat-divider />
            <mat-list-item [routerLink]="['/prestamos']">
              <mat-icon matListItemIcon class="listItem">sell</mat-icon>
              <div matListItemTitle [classList]="['text-zinc-100']">Registrar Prestamo</div>
            </mat-list-item>
            <mat-divider />
            <mat-list-item [routerLink]="['/roles']">
              <mat-icon matListItemIcon class="listItem">supervised_user_circle</mat-icon>
              <div matListItemTitle [classList]="['text-zinc-100']">Registrar Rol</div>
            </mat-list-item>
          </div>          
        </div>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content role="region" class="bg-white dark:bg-gray-900">
      <router-outlet />
    </mat-sidenav-content>

  </mat-sidenav-container>
  