.example-spacer {
  flex: 1 1 auto;
}

.demo-sidenav-container {
  flex: 1;
}
.bg-sidenav {
  background-color: #3F76B5 !important;
}
.mat-mdc-list-item-icon {
  color: #fff;
}
.listItem{
  color: #fff !important;
}
.dropdown{
  background: #3F76B5 !important;
}