<div class="rounded-md mt-5 p-5">
    <form (ngSubmit)="save()">
      <mat-form-field class="w-full">
        <mat-label>Clave</mat-label>
        <input
          matInput
          name="calve"
          [(ngModel)]="category.clave"
          placeholder="Identificador de la categoria"
          required
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          name="name"
          [(ngModel)]="category.nombre"
          placeholder="Nombre de la categoria"
          required
        />
      </mat-form-field>
  
      @if(errorMessage){
      <p class="text-base text-red-500">
          @for(error of errorMessage; track error){
          <div
              class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px-4 py-4 rounded-md relative"
          >
              <div class="text-xs p-2">{{ error.description }}</div>
          </div>
          }
      </p>
      }
      <button
        [disabled]="!category.nombre"
        type="submit"
        class="bg-purple-600 px-4 disabled:bg-purple-400 rounded-md text-white py-2 m-2"
      >
        Guardar Rol
      </button>
    </form>
  </div>