<div class="border-slate-100 border-b p-3 fl gap-2 justify-between">
    <table class="text-left w-full border">
      <thead>
        <tr class="px-5">
          <th class="border p-2">Categoria</th>
          <th class="border p-2">Nombre</th>
          <th class="border p-2">Editorial</th>
          <th class="border p-2">Autor</th>
          <th class="border p-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (libros) { @for (libro of libros.value; track libro?.Id)
        {
        <tr class="border-b">
          <td class="border p-3">{{ libro?.Categoria?.Nombre }}</td>
          <td class="border p-3">{{ libro?.Nombre }}</td>
          <td class="border p-3">{{ libro?.Editorial }}</td>
          <td class="border p-3">{{ libro?.Autor?.Nombre }}</td>
          <div>
            <mat-icon
              (click)="update(libro!)"
              class="cursor-pointer text-red-600"
            >
              edit
            </mat-icon>
            <mat-icon
              (click)="delete(libro!)"
              class="cursor-pointer text-red-600"
            >
              delete
            </mat-icon>
          </div>
        </tr>
        } }@else {
        <div>No hay libros</div>
        }
      </tbody>
    </table>
  </div>
