<div class="border-slate-100 border-b p-0 sm:p-3 fl gap-2 justify-start">
  <mat-form-field class="w-full lg:w-1/4 md:w-1/2">
    <mat-label>Buscar por nombre o editorial</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">{{ row.Categoria.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Editorial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Editorial</th>
      <td mat-cell *matCellDef="let row">{{ row.Editorial }}</td>
    </ng-container>

    <ng-container matColumnDef="Autor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
      <td mat-cell *matCellDef="let row">{{ row.Autor.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let row">
        <app-action-cell [row]="row" (update)="update($event)" (delete)="delete($event)"></app-action-cell>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!--<div class="border-slate-100 border-b p-3 fl gap-2 justify-between">
    <table class="text-left w-full border">
      <thead>
        <tr class="px-5">
          <th class="border p-2">Categoria</th>
          <th class="border p-2">Nombre</th>
          <th class="border p-2">Editorial</th>
          <th class="border p-2">Autor</th>
          <th class="border p-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (libros) { @for (libro of libros.value; track libro?.Id)
        {
        <tr class="border-b">
          <td class="border p-3">{{ libro?.Categoria?.Nombre }}</td>
          <td class="border p-3">{{ libro?.Nombre }}</td>
          <td class="border p-3">{{ libro?.Editorial }}</td>
          <td class="border p-3">{{ libro?.Autor?.Nombre }}</td>
          <div>
            <mat-icon
              (click)="update(libro!)"
              class="cursor-pointer text-red-600"
            >
              edit
            </mat-icon>
            <mat-icon
              (click)="delete(libro!)"
              class="cursor-pointer text-red-600"
            >
              delete
            </mat-icon>
          </div>
        </tr>
        } }@else {
        <div>No hay libros</div>
        }
      </tbody>
    </table>
  </div>-->
